body{
    text-align: center;
}

.container{
    display: flex;
    margin: auto;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.box{
    height: 100%;
    width: 100%;
    border: 10px solid blue;
}